.contactContainer
{
    background-image: url("../img/contact/contact_bg.png");
    width: 100vw;
    height: 100vh;
    color: white;
}

.type-wrap
{
  font-family: Lato, sans-serif;
  display: none;
}

.contactInfoPart1,
.contactInfoPart2
{
  font-family: Lato, sans-serif;
  display: block;
  width: 100%;
  text-align: center;

}

.contactInfoPart1
{
  padding-top: 30vh;
}

.contactInfoPart2
{
margin-top: 60px;
}

.contactInfoPart1 > h2
{
  font-size: 2em;
  font-weight: bold;
}

.contactInfoPart1 > h3
{
  margin-top: 20px;
  font-size: 1.7em;
  border-bottom: 4px solid white;
  display: inline-block;
}

.contactInfoPart2 > h4
{
  font-size: 1.1em;
}

.contactInfoPart2 > p
{
  padding-top: 10px;
}

@media (min-width: 768px) {
  .type-wrap
  {
    display: block;
    font-weight: 300;
     color: #fff;
    letter-spacing: 1px;
    font-size: 2.5rem;
    width: 75%;
    padding-top: 40vh;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
  }

  .contactInfo
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30vh;
    width: 100%;
  }

  .contactInfoPart1,
  .contactInfoPart2
  {
    padding-top: 0;
    margin-top: 0;
    width: 50%;
    display: block;
  }

  .contactInfoPart1
  {
    text-align: left;
    padding-left: 50px;
    width: 60%;
  }

  .contactInfoPart2
  {
    text-align: right;
    padding-right: 50px;
    width: 40%;
  }




}