.wrap-back
{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/back.jpg");
    background-position: center center;
    background-size: cover;
}

.overlay
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: 0.5;
    z-index: 9;
}

.wrap-panel-content
{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 60px;
    margin-left: 75px;
    z-index: 99;
}

.designosource img
{
    width: 140px;
    height: auto;
}

h1
{
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 35px;
}

.wrap-buttons
{
    display: flex;
}

.wrap-buttons a
{
    text-decoration: none;
}

.btn-case
{
    /*
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    width: 155px;
    text-align: center;
    padding: 15px 0;
    border: 2px solid #fff;
    border-radius: 2px;
    margin-right: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    */

    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    background: none repeat scroll 0% 0% transparent;
    border: 1px solid #FFF;
    color: #FFF;
    margin-top: 0;
    z-index: 99;
    border-width: 2px !important;
    border-style: solid !important;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 12px 14px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
    margin-right: 15px;

}

.btn-case:hover
{
    color: #000;
    background-color: #fff;
}

.btn-website
{
    /*
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    width: 155px;
    text-align: center;
    padding: 15px 0;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 2px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    */

    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    background: none repeat scroll 0% 0% transparent;
    border: 1px solid #FFF;
    color: #000;
    margin-top: 0;
    z-index: 99;
    border-width: 2px !important;
    background-color: #fff;
    border-style: solid !important;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 12px 14px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-radius: 3px;
}

.btn-website:hover
{
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
}